vti_encoding:SR|utf8-nl
vti_author:SR|web4u\\mtigue
vti_modifiedby:SR|web4u\\mtigue
vti_timelastmodified:TR|06 Aug 2013 00:10:00 -0000
vti_timecreated:TR|13 Apr 2013 00:06:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TR|05 Aug 2013 18:17:37 -0000
vti_syncwith_68.178.246.6\:21/louis:TX|12 Jun 2013 21:23:36 -0000
vti_syncofs_68.178.246.6\:21/louis:TW|12 Jun 2013 21:28:39 -0000
vti_syncofs_68.178.246.6\:21/pdxvocations:TW|08 Aug 2013 19:02:30 -0000
vti_syncwith_68.178.246.6\:21/pdxvocations:TX|06 Aug 2013 00:10:00 -0000
vti_cacheddtm:TX|06 Aug 2013 00:10:00 -0000
vti_filesize:IR|4363
vti_cachedlinkinfo:VX|S|../../img2/vm.jpg S|../images/menuIconsSprite.png S|../../img2/stripe.jpg S|../../img2/mass2.jpg S|../../img2/crest-30.png S|../../img2/logo-icon.png S|img2/vm.jpg
vti_cachedsvcrellinks:VX|NSUS|19/img2/vm.jpg FSUS|19/assets/images/menuIconsSprite.png NSUS|19/img2/stripe.jpg NSUS|19/img2/mass2.jpg NSUS|19/img2/crest-30.png NSUS|19/img2/logo-icon.png NSUS|19/assets/css/img2/vm.jpg
vti_backlinkinfo:VX|14/index-perfect-ios.html loop.php index-b4-js-move.html thanks.php index-backup-delete-splash-screens.html 23/main.html index-with-refresh-images.html 14/main.html 19/index-perfect-ios.html 19/index3.html
vti_syncwith_68.178.246.6\:21/pdx2:TX|06 Aug 2013 00:10:00 -0000
vti_syncofs_68.178.246.6\:21/pdx2:TW|08 Aug 2013 13:06:29 -0000
